{% load static %}
<html>
<head>
  <title>Grupo 08</title>

  <link href="{% static 'vendor//bootstrap/css/bootstrap.css' %}" rel="stylesheet">
</head>
<body>
<div class="container">
  <div>
    <h2 class="display-4">Grupo 08</h2>
    <small class="text-muted">Seminario de Desarrollo de Software</small>
    <span class="float-right text-muted">{{ hostname }}</span>
    <hr>
  </div>
  <div class="col-xs-12 text-center">
    <img src="{% static 'img/datboi.jpg' %}" class="img-fluid" alt="Responsive image">
    <code>{% static 'img/datboi.jpg' %}</code>
  </div>
</div>
</body>

</html>